body {
    color:white;
    background: rgb(255, 224, 229);
}

.h3class{
    width:300px;
    font-size: 22px;
    font-family: 'Yeon Sung';
}

.bclass{
    color: rgb(112, 66, 66);
    font-size: 22px;
}

#camera{
    border: 2px dashed black;
    width: 300px;
    height: 350px;
}
#result_obj_name, #result_obj_accuracy{
    color: brown;
}
